<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Untitled</title>
    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Place favicon.ico in the root directory -->
    <meta charset="UTF-8" />
    <link href="./assets/tailwind.css" rel="stylesheet" />
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
